<h2 class="center"><%= @article.title %></h2>

<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center article__description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  
  <%= render 'actions', obj: @article %>
</div>

