$navbar-default-bg: black;

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 1.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.center {
  text-align: center;
}

.jumbotron {
  height: 550px;
  background-color: indianred;
}

.btn-lg:hover {
  color: red;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.article__description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 2px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eae;
  color: #777;
  a:hover {
    color: #222;
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}